@import url("https://fonts.googleapis.com/css?family=Hammersmith+One");

body {
  background-color: #EAF2EF;
  width: 550px;
  margin: auto;

}

h1 {
  border-bottom: 1px solid;
  font-family: "Hammersmith One", sans-serif;
}

.square {
  height: 80px;
  width: 80px;
  font-size: 40px;
  text-align: center;
}

#messege {
  font-family: "Hammersmith One", sans-serif;
  font-size: 18pt;
}

#restart {
    font-family: "Hammersmith One", sans-serif;
    font-size: 18pt;
    text-decoration: none;
    color: black
  }